*.exe
/.idea/
/code/DynamixelSDK/
*.o
*.a
*.so
*.lo
*.run
*.ini
*.txt
*.log
/code/Cpp/cmake-build-debug/
/code/Cpp/.objects/
/code/Cpp/build/
/code/Cpp/example/
/code/Cpp/trackstar_examples/
/code/Cpp/.vs/
/.vscode/
/.vs/
/code/Cpp/out/
/code/logs/
/code/Cpp/CMakeFiles/