*.exe
/.idea/
/code/DynamixelSDK/
*.o
*.a
*.so
*.lo
*.run
*.ini
*.log
/code/Cpp/cmake-build-debug/
/code/Cpp/.objects/
/code/Cpp/build/
/code/Cpp/example/
/code/Cpp/trackstar_examples/
/code/Cpp/.vs/
/code/Cpp/trackstar_examples/
